header{
    width:100%;
    #block-project-branding{
        /*        background : red;*/
        height:145px;
        text-align:center;
        img{
            height:90px;
            position:relative;
            top:35px;
        }
    }
    #block-project-main-menu{
        height:55px;
        background: #1f497d;
        float:left;
        width:95%;
        ul{
            text-align:center;
            position:relative;
            li{
                display:inline;

                a{
                    text-decoration:none;
                    color:white;
                    font-size:15px;
                    margin-right:70px;
                }
            }
        }
    }
    #block-languageswitcher{
        background:#1f497d;
        width:5%;
        float:left;
        height:55px;
        ul{
            padding-left:0px;
            li{
                display:inline;
                a{
                    text-decoration:none;
                    color:white;
                    font-size:15px;
                }
            }
            li.en{
                a{
                    padding-left:10px;
                    /*                    background: red;*/
                }
            }
        }

    }
}
