body {
  width: 80%;
  margin: 0 auto; }

header {
  width: 100%; }
  header #block-project-branding {
    /*        background : red;*/
    height: 145px;
    text-align: center; }
    header #block-project-branding img {
      height: 90px;
      position: relative;
      top: 35px; }
  header #block-project-main-menu {
    height: 55px;
    background: #1f497d;
    float: left;
    width: 95%; }
    header #block-project-main-menu ul {
      text-align: center;
      position: relative; }
      header #block-project-main-menu ul li {
        display: inline; }
        header #block-project-main-menu ul li a {
          text-decoration: none;
          color: white;
          font-size: 15px;
          margin-right: 70px; }
  header #block-languageswitcher {
    background: #1f497d;
    width: 5%;
    float: left;
    height: 55px; }
    header #block-languageswitcher ul {
      padding-left: 0px; }
      header #block-languageswitcher ul li {
        display: inline; }
        header #block-languageswitcher ul li a {
          text-decoration: none;
          color: white;
          font-size: 15px; }
      header #block-languageswitcher ul li.en a {
        padding-left: 10px;
        /*                    background: red;*/ }

.node--type-accueil- h2 {
  height: 14px; }
  .node--type-accueil- h2 span {
    display: none; }

.field--name-field-image-de-fond {
  text-align: center;
  background: #4a6896; }
  .field--name-field-image-de-fond img {
    opacity: 0.3;
    width: 100%; }

.field--name-field-presentation-generale {
  position: relative;
  top: -652px;
  margin-left: 262px;
  margin-right: 290px;
  text-align: center;
  color: white;
  font-size: 25px;
  line-height: 35px; }

.field--name-field-acces-rapide {
  position: relative;
  top: -572px;
  /*    margin-left:262px;*/
  text-align: center; }
  .field--name-field-acces-rapide .field__item {
    display: inline; }
    .field--name-field-acces-rapide .field__item a {
      font: bold 18px Arial;
      text-decoration: none;
      background-color: #EEEEEE;
      color: #1f497d;
      padding: 10px 80px 25px 100px;
      border-top: 1px solid #CCCCCC;
      border-right: 1px solid #333333;
      border-bottom: 1px solid #333333;
      border-left: 1px solid #CCCCCC;
      margin-right: 35px; }

.view-display-id-block_1 {
  /*    background:red;*/ }
  .view-display-id-block_1 #views_slideshow_cycle_main_carrousel-block_1 {
    position: relative;
    top: -510px; }
    .view-display-id-block_1 #views_slideshow_cycle_main_carrousel-block_1 #views_slideshow_cycle_teaser_section_carrousel-block_1 {
      margin: 0 auto; }
      .view-display-id-block_1 #views_slideshow_cycle_main_carrousel-block_1 #views_slideshow_cycle_teaser_section_carrousel-block_1 img {
        border-top: 33px solid white;
        border-left: 45px solid white;
        border-right: 45px solid white; }
  .view-display-id-block_1 .views-slideshow-controls-bottom #widget_pager_bottom_carrousel-block_1 .views-field-counter {
    background: pink;
    width: 120px;
    margin: 0; }
    .view-display-id-block_1 .views-slideshow-controls-bottom #widget_pager_bottom_carrousel-block_1 .views-field-counter .views-content-counter {
      background: brown;
      display: inline-block; }

#block-views-block-avis-block-1 {
  /*    background:red;*/ }
  #block-views-block-avis-block-1 .view-content .views-row article {
    background: url(../images/vintage.png);
    height: 217px;
    width: 518px; }
  #block-views-block-avis-block-1 .view-content .views-row .field--name-field-date-de-publication {
    font-size: 25px;
    color: #C00000;
    font-family: 'Open Sans', sans-serif; }
  #block-views-block-avis-block-1 .view-content .views-row a {
    text-decoration: none; }
    #block-views-block-avis-block-1 .view-content .views-row a .field--name-title {
      font-family: SourceSerifPro-Semibold;
      font-size: 40px; }
  #block-views-block-avis-block-1 .view-display-id-block_2 {
    margin: 0 auto;
    float: right;
    height: 489px;
    width: 523px; }
    #block-views-block-avis-block-1 .view-display-id-block_2 .field--name-field-date-audition {
      font-size: 25px;
      color: #C00000;
      font-family: 'Open Sans', sans-serif; }

#block-views-block-nos-activites-block-1 .view-nos-activites {
  display: inline-block;
  background: blue; }

/*# sourceMappingURL=style.css.map */
